<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="auth" method="post">{% csrf_token %}
        <label>Usuário</label>
        <input type="text" name="username">
        <label>Senha</label>
        <input type="password" name="password">
        <button type="submit">Entrar</button>
    </form>

    {% for message in messages %}
        <strong>Erro</strong>{{ message }}
    {% endfor %}
</body>
</html>